<html>
    <head>
        <title>CRUD</title> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <style>
    .col-md-4{
        padding:1%;
    }
    .container{
        background-color:lightblue;
        margin:0 auto;
        width:50%;
        
    }
    </style>
    <body>
        <div>
            <a href="/items">Home</a> | 
            <a href="/inventory/add">Add new item</a> | 
            <a href="/inventory">All items list</a>
        </div>    
