
<html>
    <head>
        <title>CRUD APP</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/inventory/add">Add new item</a> | 
            <a href="/inventory">All items list</a>
        </div>    
